<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        /* Add your CSS styles here */
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #f2f2f2;
        }

        .header a {
            text-decoration: none;
            color: #333;
            margin-right: 10px;
        }

        .body {
            padding: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/signin">ログイン</a>
        <a href="/mypage">マイページ</a>
        <a href="/signgout">ログアウト</a>
    </div>
    <div class="body">
    
    </div>
</body>
</html>